.column
{
	display: table-cell;
	padding: 50px;
	width: 100px;
}

.dragger
{
	border: solid thin #000000;
	background: #999999;
	text-align: center;
	height: 50px;
	width: 150px;
	vertical-align: center;
	cursor: move;
	position: relative;
	ghosting: true;
}

.dragger p
{
	font-weight: bold;
}

.draggerbay
{
	border: dashed thin #000000;
	height: 50px;
	width: 150px;
	text-align: center;
	background: #ccccee;
}

[draggable=true] 
{
  -khtml-user-drag: element;
  -webkit-user-drag: element;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

body
{
	background: white;
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	font-family: Georgia;
}

h1
{
	font-size: 35px;
	color: #cc8033;
	text-align: left;
}

h2
{
	text-align: left;
}

#main-info
{
	float: left;
	width: 900px;
	height: 675px;
}

#aside-info
{
	float: left;
	width: 100px;
	vertical-align: top;
	padding-left: 0px;
	
}
	
#main-content
{
	height: 675px;
	padding: 0px;
	margin: 0px;
	
}
#main-panel
{
	background: white;
	display: table-cell;
	width: 600px;
	
}

#main-layout
{
	background: #e4d1d1;
	display: table;
	text-align: left;
	width: 900px;
	border-radius: 25px;
}

a
{
	text-decoration: none;
	color: #cc8033;
	font-size: 12px;
	text-align: center;
	
}

a:hover
{
	color: #996666;
}

#navigation
{
	background: #e4d1d1;	 
	display: table;
	width: 70px;
	text-align: left;
	padding: 10px;
	
}


#aside-title-audio
{
	width: 160px;
	text-align: center;
	font-size: 12px;
	background: #e4d1d1;
	font-family:georgia;
	font-weight: bold;
	color: #cc8033;
	padding: 0px;
}

#content-frame
{
	border: none;
}
	
#transcript
{
	color: #996666;
	font-size: 12px;
	overflow: auto;
	height: 200px;
	width: 150px;
	padding: 15px;
}


audio
{
	width: 250px;
}
