body
{
	margin: 0px;
	padding: 0px;
	font-size: 13px;
	font-family: Arial;
}



#content-frame
{
	border: none;
}
	
#transcript
{
	color: green;
	font-size: 12px;
	overflow: auto;
	height: 321px;
	width: 233px;
}

audio
{
	width: 230px;
}

#quiz-link{
	display: none;
}

#leo-quote{
	padding-left: 10px;
	padding-right: 10px;

}

#navbar-logo{
	height: 50px;
}

#results1, #results2, #results3{
	display: none;
	border: 1px solid black;
	padding: 10px;
}

#caption{
	background-color: rgba(172, 219, 201, 0.18);

	height: 600px;
}

.form-group{
	padding: 8px;
}

.form-group > label{
	font-weight: bold;
}

#caption-text{
	margin-top: 20px;
}

#overview-image{
	height: 350px;
}