body
{
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	font-family: Arial;
}



#content-frame
{
	border: none;
}
	
#transcript
{
	color: green;
	font-size: 12px;
	overflow: auto;
	height: 321px;
	width: 233px;
}

audio
{
	width: 230px;
}

#quiz-link{
	display: none;
}

#leo-quote{
	padding-left: 10px;
	padding-right: 10px;

}

#navbar-logo{
	height: 50px;
}

#results1, #results2, #results3{
	display: none;
	border: 1px solid black;
	padding: 10px;
}

