body
{
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	font-family: Arial;
}



#content-frame
{
	border: none;
}
	
#transcript
{
	color: green;
	font-size: 12px;
	overflow: auto;
	height: 321px;
	width: 233px;
}

audio
{
	width: 230px;
}

#quiz-link{
	display: none;
}

#leo-quote{
	padding-top: 150px;
}

