.column
{
	display: table-cell;
	padding: 10px;
	width: 100px;
}

.hotspot
{
	border: solid thin #000000;
	border-radius: 15px;
	background: #999999;
	text-align: center;
	height: 60px;
	width: 175px;
	vertical-align: center;
	position: relative;
}

.hotspot p
{
	font-weight: bold;
}

#output-box
{
	border: dashed thin #000000;
	border-radius: 15px;
	height: 100px;
	width: 570px;
	text-align: center;
	background: #6a84bf;
	margin-left: 10px;
	display: none;
}