.column
{
	display: table-cell;
	padding: 10px;
	width: 100px;
}

.hotspot
{
	border: solid thin #000000;
	background: #cc8033;
	text-align: center;
	height: 70px;
	width: 160px;
	vertical-align: left;
	position: relative;
	border-radius: 15px 50px;
}

.hotspot p
{
	font-weight: bold;
	font-size: 12px;
}

#output-box
{
	border: dashed thin #000000;
	height: 100px;
	width: 675px;
	text-align: center;
	background: #e4d1d1;
	border-radius: 15px 50px;
	display: none;
	font-size: 18px;
}