.column
{
	display: table-cell;
	padding: 8px;
	width: 275px;
}

.dragger
{
	border: solid #000000;
	background: #999999;
	border-radius: 15px;
	text-align: center;
	height: 105px;
	width: 270px;
	vertical-align: center;
	cursor: move;
	position: relative;
	ghosting: true;
}

.dragger p
{
	font-weight: bold;
}

.draggerbay
{
	border: dashed #000000;
	border-radius: 15px;
	height: 105px;
	width: 270px;
	text-align: center;
	background: #ccccee;
}

[draggable=true] 
{
  -khtml-user-drag: element;
  -webkit-user-drag: element;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
w