/*header
{
	background: #9b9b9b;
}*/

/*h1
{
	font-size: 30px;
	text-align: left;
	border-top: double 5px #000080;
	border-bottom: double 5px #000080;
}*/

.banner
{
	width: 100%;
	display: block;
	padding-bottom: 15px;
}

.banner > .banner-image
{
	width: 100%;
	display: block;
	border-bottom: double 5px #000080;
}

#header-logo
{
	display: inline;
	margin: 0px 30px 0px 8px;
}

h2
{
	text-align: center;
	background: #6a84bf;
	color: white;
	border-radius: 25px;
}

body
{
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	font-family: helvetica;
	background: #c0c0c0;
}

#main-info
{
	
	width: 590px;
	margin: auto;
	display: block;
	padding: 5px;
}

#aside-info
{
	float: center;
	width: 190px;
	vertical-align: top;
	padding-left: 0px;
	overflow: auto;
}
	
#main-content
{

	display: table-cell;
	background: #EAEff9;
	float: left;
	margin-left: 40px;
}

#navigation
{
	background: #c0c0c0;	
	width: 51px;
	display: table-cell;
	text-align: left;
	vertical-align: top;
	padding: 0px;	
	float: left;
}

.navigation-text
{
	color: #000000;
	text-decoration: none;
	border: none;
	background: none;
}

.active
{
	background-color: #6a84bf;
    color: white;
}

#sub-navigation
{
	background: #dddddd;	
	padding: 5px;
	width: 580px;
	float: left;
	height: 20px;
	font-size: 16px;
}

aside
{
	float: left;
	right: 10px;
	width: 190px;
	display: block;
	top: 141px;
}

#aside-title-audio
{
	background: #666666;
	width: 190px;
	font-size: 14px;
	font-weight: bold;
	color: white;
	padding: 5px;
}

#content-frame
{
	border: none;
}
	
#transcript
{
	color: green;
	font-size: 12px;
	overflow: auto;
	height: 321px;
	width: 233px;
}

audio
{
	width: 170px;
	border-radius: 15px;
}

ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 90px;
    background-color: #c0c0c0;
    border: none;
    height: 100%;
}

li 
{
    display: block;
    border: none;
    border-color: #808080;
    background: #c0c0c0;
}

li a
{
	display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 12px;
}

li:last-child 
{
    border-bottom: none;
}

li a.active 
{
    background-color: #6a84bf;
    color: white;
    border-radius: 15px;
}


li a:hover:not(.active) 
{
    background-color: #555;
    color: white;
    border-radius: 15px;
}

a
{
	text-decoration: none;
	display: inline-block;
	padding: 8x 16px;
}

a:hover
{
	background-color: #555;
	color: white;
	font-weight: bold;
	border-radius: 10px;
}

.previous
{
	background-color: #ddd;
	color: black;
	float: left;
}

.next
{
	background-color: #ddd;
	color: black;
	float: right;
}

.moodle
{
	float: right;
}

footer
{
	text-align: left;
	margin: 265px;
	clear: both;
	padding: 5px;
}

.round 
{
    border: none;
    border-radius: 10px;
}

/*#quiz-link
{
	display: none;
}*/

#headerDiv, #contentDiv 
{
	float: left;
	width: 190px;
}
#titleText 
{
	float: left;
	font-size: 1.1em;
	font-weight: bold;
	margin: 5px;
}
#myHeader 
{
	font-size: 1.1em;
	font-weight: bold;
	margin: 5px;
}
#headerDiv 
{
	background-color: #808080;
	color: #9EB6FF;
	border-radius: 15px;
}

#contentDiv 
{
	background-color: #6a84bf;
	border-radius: 15px;
}

#myContent 
{
	margin: 5px 10px;
	color: white;
	border-radius: 15px;
}

#headerDiv a 
{
	float: right;
	margin: 5px 5px 5px 5px;
	color: #9EB6FF;
}

#headerDiv a:hover 
{
	color: #FFFFFF;
}

#headerDiv2, #contentDiv2
{
	float: left;
	width: 190px;
	border-radius: 15px;
}

#titleText2 
{
	float: left;
	font-size: 1.1em;
	font-weight: bold;
	margin: 5px;
}

#myHeader2 
{
	font-size: 1.1em;
	font-weight: bold;
	margin: 5px;
}
#headerDiv2 
{
	background-color: #808080;
	color: #9EB6FF;
	border-radius: 15px;
}

#contentDiv2 
{
	background-color: #6a84bf;
	border-radius: 15px;
}

#myContent2 
{
	margin: 5px 10px;
	color: white;
	max-height: 350px;
	overflow-x: hidden;
	overflow-y: auto;
}

#headerDiv2 a 
{
	float: right;
	margin: 5px 5px 5px 5px;
	color: #9EB6FF;
}

#headerDiv2 a:hover 
{
	color: #FFFFFF;
}

/*td  
{
	border: 1px solid #000000;
	border-collapse: collapse;
	text-align: center;
	width: 100px;
	height: 30px;
}

table
{
	position: relative;
	left: 50px;
	border-collapse: collapse;
}*/

.example2-container
{
	float:left;
	padding-top: 20px;
	padding-left: 20px;
	font-weight: bold;
}

input[type=text]
{
	width: 50%;
}

video
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

table, td
{
    border: 1px solid black;
    margin: auto;
    padding: 5px;
	background: #c0c0c0;
	text-align: center;
	border-collapse: collapse;
}