body
{
	margin: 0px;
	padding: 0px;
	font-size: 13px;
	font-family: Arial;
}

#main-info
{
	float: left;
	width: 627px;
}

#aside-info
{
	float: left;
	width: 200px;
	vertical-align: top;
	padding-left: 10px;
}
	
#main-content
{
	height: 368px;
	padding: 10px;
	margin: 10px;
}

#navigation
{
	background: #666666;	
	padding: 5px;
	width: 886px;
	float: left;
	height: 18px;
}

#sub-navigation
{
	background: #dddddd;	
	padding: 5px;
	width: 886px;
	float: left;
	height: 18px;
	font-size: 14px;
}

#aside-title-audio
{
	background: #666666;
	width: 233px;
	font-size: 14px;
	font-weight: bold;
	color: white;
	padding: 5px;
}

#content-frame
{
	border: none;
}
	
#transcript
{
	color: green;
	font-size: 12px;
	overflow: auto;
	height: 321px;
	width: 233px;
}

audio
{
	width: 230px;
}

#quiz-link{
	display: none;
}

#navbar-logo{
	height: 50px;
}

#video{
	border: 1px solid black;
}

#caption{
	background-color: rgba(172, 219, 201, 0.18);

	height: 500px;
}
#caption-text{
	margin-top: 20px;
}

#cert-mod1{
	height: 450px;
}

#student-name {
	z-index: 100;
	position: absolute;
	color: black;
	font-size: 24px;
	font-weight: bold;
	left: 190px;
	top: 225px;
}