body
{
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	font-family: Arial;
}

#main-info
{
	float: left;
	width: 627px;
}

#aside-info
{
	float: left;
	width: 200px;
	vertical-align: top;
	padding-left: 10px;
}
	
#main-content
{
	height: 368px;
	padding-left: 20px;
	margin: 20px;
	display: table-cell;
}

#navigation
{
	background: #666666;	
	padding: none;
	width: 75px;
	float: left;
	display: table-cell;
	text-align: left;
	vertical-align: top;
}

.navigation-text
{
	color: #000000;
	text-decoration: none;
	border: none;
	background: none;
}

.active
{
	background-color: #2649d5;
    color: white;
}

#sub-navigation
{
	background: #dddddd;	
	padding: 5px;
	width: 886px;
	float: left;
	height: 18px;
	font-size: 14px;
}

#aside-title-audio
{
	background: #666666;
	width: 233px;
	font-size: 14px;
	font-weight: bold;
	color: white;
	padding: 5px;
}

#content-frame
{
	border: none;
}
	
#transcript
{
	color: green;
	font-size: 12px;
	overflow: auto;
	height: 321px;
	width: 233px;
}

audio
{
	width: 230px;
}

ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 90px;
    background-color: #f1f1f1;
    border: 1px solid #555;
}

li 
{
    display: block;
    border: none;
    border-color: #808080;
    background: #c0c0c0;
}

li a
{
	display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li:last-child 
{
    border-bottom: none;
}

li a.active 
{
    background-color: #0547f5;
    color: white;
}

li a:hover:not(.active) 
{
    background-color: #555;
    color: white;
}

.previous
{
	float: left;
	width: 100px;
	vertial-align: top;
	padding-left: 10px;
	
	
}

.next
{
	float: right;
	width: 100px;
	vertical-align: top;
	padding-right: 10px;
}



button
{
	background-color: #4caf50;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}











